<!doctype html>
<html>

<head>
  <title>{{title}}</title>
  <script src="./js/Chart.bundle.min.js" type></script>
  <script src="./js/Plugin.Errorbars.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.0/dist/mini-default.min.css">
  <style>
  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  </style>
</head>
<body>
<h1>{{title}}</h1>
<h2>Input</h2>
{%- for entry in info %}
<pre>
{{entry}}
</pre>
{%- endfor %}
<h2>Results</h2>
  <div style="width:75%;">
{%- for entry in datasets.keys() %}
    <canvas id="{{entry}}"></canvas>
{%- endfor %}
  </div>
  <script>
  
{% for key, entry in datasets.items() %}
    var {{key}}_config = {
      type: 'bar',
      data: {
        labels: ['{{ labels|join("', '") }}'],
        datasets: [
{% for label, results in entry['plots'].items() %}
        {
          label: '{{label}}',
          data: {{results.data}},
          fill: false,
          spanGaps: true,
          borderColor: "{{results.color}}",
{% if results.accuracy %}
          errorBars: {
{%- for label in labels %}
          '{{label}}' : {plus: {{results.accuracy[loop.index0]}}, minus: -{{results.accuracy[loop.index0]}}},
{%- endfor %}
          }
{% endif %}
        },
{% endfor %}
        ]
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: '{{entry.label}}'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Code version name'
            }
          }],
          yAxes: [{
            display: true,
            type: 'linear',
            scaleLabel: {
              display: true,
              labelString: '{{entry.label}}',
            },
            ticks: {
              callback: function (value) {
                return numeral(value).format('0[.]000000')
              },
            min: {{entry.min}},
            max: {{entry.max}}
            }
          }]
        },
        plugins: {
            filler: {
                propagate: true
            }
        }
      }
    };
{% endfor %}

    window.onload = function() {
{%- for entry in datasets.keys() %}
      var ctx = document.getElementById('{{entry}}').getContext('2d');
      window.myLine = new Chart(ctx, {{entry}}_config);
{% endfor %}
    };
  </script>
</body>

</html>
